* {
  font-family: $main_font;
}

.header {
  background-color: $blue;
  height: 4rem;
  box-shadow: 3px 4px 14px -9px rgba(0,0,0,0.75);
  -webkit-box-shadow: 3px 4px 14px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 14px -9px rgba(0,0,0,0.75);
}

main {
  text-align: center;
}

.client-list {
  margin: 3rem;

  .header-table {
    background-color: $blue;

    tr th {
      color: $white;
      font-weight: 700;
      margin-top: 1rem;
      width: auto;
      min-width: 10rem;
    }
  }

  tbody {
    td {
      text-align: center;
    }

    tr {
      background-color: rgb(200, 194, 194);
    }
  }
}

.actions {
  display: flex;
  gap: 1rem;
  padding-top: .4rem;
  justify-content: space-around;

  a {
    background-color: darken($redError, 15);
    color: $white;
    width: 6rem;
    cursor: pointer;
    margin: 0 .2rem;
    height: 1.3rem;
    text-align: center;

    &:hover {
      background-color: lighten($redError, 10);
    }
  }

  .btn-update {
    background-color: $green;

    &:hover {
      background-color: lighten($green, 10);
    }

  }
}

.row {
  height: 2rem;
}