* {
  font-family: $main_font;
}

.header {
  background-color: $violet;
  height: 4rem;
  box-shadow: 3px 4px 14px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 14px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 14px -9px rgba(0, 0, 0, 0.75);

  a, h1{
    text-decoration: none;
    color: $white;
    font-weight: 400;

    span{
        font-weight: 900;
    }
}
  
}

main {
  text-align: center;
}

.client-list {
  margin: 3rem auto;
  border-spacing: 0;
}

.header-table {
  background-color: $darkBlue;
  height: 2rem;
  margin: 0;

   th {
    color: $white;
    font-weight: 700;
    width: auto;
    min-width: 10rem;
    padding: 10px;
  }
}

tbody {

  td {
    text-align: center; 
    margin: 5px 0;
    border-bottom: 1px solid rgb(102, 100, 100);
    padding: 10px;
  }

  tr {
    border: 1px solid rgb(200, 194, 194);
  }
}

.actions {
  display: flex;
  gap: .5rem;
  padding-top: 4px;
  justify-content: space-evenly;
  margin-bottom: 0px;

  a {
    background-color: darken($redError, 15);
    color: $white;
    width: auto;
    min-width: 2.3rem;
    cursor: pointer;
    margin: 0 .2rem;
    height: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    border-radius: 4px;
    &:hover {
      background-color: lighten($redError, 10);
    }
  }

  .btn-update {
    background-color: $yellow;

    &:hover {
      background-color: lighten($yellow, 10);
    }

  }
}

.row {
  height: 2rem;
}

.modal {
  position: absolute;
  background-color: rgb(0 0 0 /.8);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .modal-content{
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    display: block;
    max-width: 35rem;
    min-height: 6.6rem;
    height: auto;
    padding: 1rem 1rem;
    background-color: $white;
    margin: 0 auto;
    transform: translateY(-30rem);
    transition-property: transform;
    transition-duration: 600ms;
    opacity: 0;
    border-radius: 8px;
    

    div{
      display: flex;
      justify-content: space-evenly;
    }

    .btnDelete{
      background-color: $redError;
      color: $white;
      border: none;
      font-weight: bold;
      cursor: pointer;
      width: 8rem;

      &:hover{
        background-color: lighten($redError, 15);
      }
    }

    .close-modal{
      background-color: $violet;
      color: $white;
      border: none;
      font-weight: bold;
      cursor: pointer;
      width: 8rem;

      &:hover{
        background-color: lighten($violet, 15);
      }
    }

    &.animation{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
    }
  }
}

.button-create{
  display: flex;
  width:250px;
  height: 20px;
  text-decoration: none;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.search-client{
  margin-top: 2rem;
  margin-bottom: -1rem;
  .label-input-search{
    color: black;
  }
  
  .input-search-dni-client{
    border: 1px solid gray;
    display: block;
    width: 10rem;
  }
}

.section-clients{
  width: 90%;
}