* {
  font-family: $main_font;
}

.header {
  background-color: $blue;
  height: 4rem;
  box-shadow: 3px 4px 14px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 4px 14px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 4px 14px -9px rgba(0, 0, 0, 0.75);
}

main {
  text-align: center;
}

.client-list {
  margin: 3rem;

  .header-table {
    background-color: $blue;

    tr th {
      color: $white;
      font-weight: 700;
      margin-top: 1rem;
      width: auto;
      min-width: 10rem;
    }
  }

  tbody {
    td {
      text-align: center;
    }

    tr {
      background-color: rgb(200, 194, 194);
    }
  }
}

.actions {
  display: flex;
  gap: 1rem;
  padding-top: .4rem;
  justify-content: space-around;

  a {
    background-color: darken($redError, 15);
    color: $white;
    width: 6rem;
    cursor: pointer;
    margin: 0 .2rem;
    height: 1.3rem;
    text-align: center;

    &:hover {
      background-color: lighten($redError, 10);
    }
  }

  .btn-update {
    background-color: $green;

    &:hover {
      background-color: lighten($green, 10);
    }

  }
}

.row {
  height: 2rem;
}

.modal {
  position: absolute;
  background-color: rgb(0 0 0 /.8);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .modal-content{
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
    display: block;
    max-width: 35rem;
    height: 6.6rem;
    padding: 1rem 1rem;
    background-color: $white;
    margin: 0 auto;
    transform: translateY(-30rem);
    transition-property: transform;
    transition-duration: 600ms;
    opacity: 0;
    border-radius: 8px;
    

    div{
      display: flex;
      justify-content: space-evenly;
    }

    .btnDelete{
      background-color: $redError;
      color: $white;
      border: none;
      font-weight: bold;
      cursor: pointer;
      width: 8rem;

      &:hover{
        background-color: lighten($redError, 15);
      }
    }

    .close-modal{
      background-color: $violet;
      color: $white;
      border: none;
      font-weight: bold;
      cursor: pointer;
      width: 8rem;

      &:hover{
        background-color: lighten($violet, 15);
      }
    }

    &.animation{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      opacity: 1;
    }
  }
}