.section-client {
    border: 1px solid $blue;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 8px 24px -2px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 3px 8px 24px -2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 3px 8px 24px -2px rgba(0, 0, 0, 0.61);

    width: 46rem;
    text-align: center;
    margin: 5rem auto 3rem auto;
    height: 58rem;
    padding-bottom: 1rem;


    .client-form {

        display: grid;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;

        div {
            display: flex;
            flex-direction: column;
            width: 90%;

            input, select {
                width: 90%;
                height: 1.7rem;
                border-radius: 5px;
                border: 1px solid lighten($blue, 10)
            }
        }

    }
}

.field label {
    display: flex;
    margin-bottom: 1rem;
    font-weight: bold;
}

#input-client-address {
    height: 7rem;
    resize: none;
    border-radius: 5px;
    border: 1px solid lighten($blue, 10);
    width: 90%;
}


.submit {
    margin: 2rem;
    background-color: $blue;
    color: $white;
    border: none;
    width: 16rem;
    height: 2rem;
    border-radius: 5px;
    font-weight: bold;
    margin-left: -29rem;

    &:hover {
        background-color: lighten($blue, 10);
        cursor: pointer;
    }
}