.section-client{
    border: 1px solid $blue;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 8px 24px -2px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 3px 8px 24px -2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 3px 8px 24px -2px rgba(0, 0, 0, 0.61);

    width: 25rem;
    text-align: center;
    margin: 5rem auto 3rem auto;
    height: 40rem;
    

    .client-form{
    
     display: grid;
     display: flex;
     flex-direction: column;
     gap: 2rem;
     align-items: center;
     
     div{   
        display: flex;
        flex-direction: column;
        width: 90%;

        input{
            width: 90%;
            height: 1.7rem;
            border-radius: 5px;
            border: 1px solid lighten($blue, 10)
        }
     }

    }
}

