.section {

    border: 1px solid $blue;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 8px 24px -2px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 3px 8px 24px -2px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 3px 8px 24px -2px rgba(0, 0, 0, 0.61);

    width: 20rem;
    text-align: center;
    margin: 5rem auto 3rem auto;

    h1{
        font-family: $main_font;
    }

    .form {
        margin: auto;

        display: flex;
        flex-direction: column;
        gap: 1rem;

        .field {
            display: flex;
            flex-direction: column;
            font-family: $main_font;

            input {
                height: 2.5rem;
                border-radius: 5px;
                border: 1px solid $blue;
            }
        }
    }

}


.sub {
    background-color: lighten($blue, 10);
    color: $white;
    font-weight: bold;
    font-family: $main_font;

    &:hover {
        cursor: pointer;
        background-color: darken($blue, 6);
    }
}

.account{
    font-family: $main_font;

    a{
        text-decoration: none;
        color: darken($blue, 10);
        font-weight: 700;

        &:hover{
            text-decoration: underline;
        }
    }
}

.error{
    display: flex;
    gap: 1rem;
    p{
        color: $red;

        font-size: .9rem;
    }
}