.form {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .field {
        display: flex;
        flex-direction: column;
        font-family: $main_font;
        width: 50%;

        input {
            height: 2.5rem;
            border-radius: 5px;
            border: 1px solid $blue;
        }
    }
}

.table-reservations{
    margin: 5rem auto;
    .header-table {
        background-color: $darkBlue;
    
        tr th {
          color: $white;
          font-weight: 700;
          margin-top: 1rem;
          width: auto;
          min-width: 10rem;
        }
      }
    
      tbody {
        td {
          text-align: center;
        }
    
        tr {
          background-color: rgb(200, 194, 194);
        }
      }
}