.form {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .field {
        display: flex;
        flex-direction: column;
        font-family: $main_font;
        width: 50%;

        input {
            height: 2.5rem;
            border-radius: 5px;
            border: 1px solid $blue;
        }
    }
}