.table-rooms{
    margin: 3rem auto;
    border-spacing: 0;

    .header-table {
        background-color: $darkBlue;
    
        tr th {
          color: $white;
          font-weight: 700;
          margin-top: 1rem;
          width: auto;
          min-width: 10rem;
        }
      }

      tbody {
        td {
          text-align: center;
        }

      }
}

.btn-create{
    background-color: $green;
    color: $white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    min-height: 2rem;
    width: 20rem;
    &:hover{
        background-color: darken($green, 10);
    }
}