.form-service{
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin: 0 auto;
    gap: 2rem;

    input, textarea{
      width: 100%;
    }
    textarea{
        resize: none;
    }
}

h1{
    text-align: center;
}

.table-services{
    margin: 3rem auto;
    border-spacing: 0;

    .header-table {
      background-color: $darkBlue;
  
      tr th {
        color: $white;
        font-weight: 700;
        margin-top: 1rem;
        width: auto;
        min-width: 10rem;
      }
    }
  
    tbody {
      td {
        text-align: center;
      }

    }
}

.btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    button{
      width: 20rem;
    }
}
