.section-sign{
    margin: 0 auto;
    width: 20rem;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: $white;

    .form{
        gap: 2rem;
        width: 100%;
        align-items: center;

        input{
            width: 90%;
            height: 2rem;
            border-radius: .5rem;
            border: 1px solid $lighBlue;
        }
    }

    p{
        margin-top: 2rem;
        margin-bottom: -.1rem; 
        font-weight: bold;    
    }

    .create-account{
        border: 1px solid $blue;
        color: $blue;
        text-decoration: none;
        height: 2rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}

body{
    background-color: #F6F6F6;
}