.footer{
    background-color: $darkgray;
    height: 10rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    a, h1{
        text-decoration: none;
        color: $white;
        font-weight: 400;

        span{
            font-weight: 900;
        }
    }

    nav{
        display: flex;
        gap: 2rem;
    }
    
}