label, input{
    font-family: $main_font;
}

.info{
    width: 70%;
    height: rem;
    background-color: rgb(145, 214, 145);

    p{
        color: rgb(3, 70, 3);
    }
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}