.message{
    background-color: lighten($green, 30);
    height: 2rem;
    width: 80%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 5px solid $green;

    p{
        font-size: 1.2rem;
        color: darken($green, 10);
        font-weight: bold;
    }
}

.alert{
    background-color: lighten($red, 20);
    height: 2rem;
    width: 80%;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 5px solid $red;

    p{
        font-size: 1.2rem;
        color: darken($red, 10);
        font-weight: bold;
    }
}