.modal{
    
    .form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        input, button{
            height: 2rem;
            width: 100%;
        }

        textarea{
            height: 8rem;
            resize: none;
            width: 100%;    
        }
        
    }

   
}

.btn-x{
    margin-right: -33rem;
    cursor: pointer;
}