@import url('https://fonts.googleapis.com/css?family=Montserrat=Hello%20World');


//Colors
$blue: #33C3F0;
$white: #ffffff;
$redError: rgb(246, 23, 23);
$green: rgb(82, 161, 82);
$darkBlue: #17396d;
$lighBlue: #a2dcd7;
$red: #ae544f;
$lightPink: #c79c99;
$violet: #4c4c6c;


//Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024;


//Font
$main_font: 'Montserrat', sans-serif;