@import url('https://fonts.googleapis.com/css?family=Montserrat=Hello%20World');


//Colors
$blue: #33C3F0;
$white: #ffffff;
$red: rgb(246, 23, 23);



//Sizes
$phone: 480px;
$tablet: 768px;
$desktop: 1024;


//Font
$main_font: 'Montserrat', sans-serif;